<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Debug_Debug>
			<version>1.0.0</version>
		</Debug_Debug>
	</modules>
	<frontend>
		<routers>
			<Debug_Debug>
				<use>standard</use>
				<args>
					<module module="Debug_Debug">debug_debug</module>
					<frontName>debugdebug</frontName>
				</args>
			</Debug_Debug>
		</routers>
	</frontend>
	<global>
		<models>
			<Debug_Debug>Debug_Debug_Model</Debug_Debug>
		</models>
		<events>
			<adminhtml_cache_flush_system>
				<observers>
					<debug_onflush>
						<type>singleton</type>
						<class>Debug_Debug_Model_Observer</class>
						<method>onFlush</method>
					</debug_onflush>
				</observers>
			</adminhtml_cache_flush_system>
		</events>
	</global>
	<adminhtml>
		<events>
			<controller_action_predispatch>
				<observers>
					<debug_onevent>
						<type>singleton</type>
						<class>Debug_Debug_Model_Observer</class>
						<method>trackEvents</method>
					</debug_onevent>
				</observers>
			</controller_action_predispatch>
		</events>
	</adminhtml>
</config>